body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.nowe-piosenki {
  display: flex;
  justify-content: center; /* Wyśrodkowanie poziome */
  gap: 20px;
  margin-top: 40px;
  flex-wrap: wrap; /* Dla responsywności */
}

.element {
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  width: 180px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: transform 0.3s;
}

.element:hover {
  transform: scale(1.05);
}

.element img {
  width: 100%;
  height: auto;
}

.opis {
  padding: 10px;
  font-size: 14px;
}

  padding: 20px;
}

